extends layout

block content
    p <회사 상세정보>
    p 회사 이름: #{Company.name}
    p 프로필
    if Profiles.length == 0
        p 등록된 프로필이 없습니다.
    else
        ul
            each Profile in Profiles
                li
                    p
                    |   닉네임: #{Profile.User.nickname}
                    |   직급: #{Profile.position}
                    |   부서: #{Profile.department}
                    |   입사일: #{Profile.startDate}
                    |   퇴사일: #{Profile.endDate}
                    button(type="button", onclick="sendRequest(this)") 요청 보내기
                    p(id="dataUserId", hidden) #{Profile.userId}

    p(id="dataCompanyId", hidden) #{Company.id}

    script.
        function sendRequest(that) {
            location.href = '/request/send?receiverId=' + that.nextSibling.innerText
                            + '&companyId=' + document.getElementById('dataCompanyId').innerText;
        }
