extends layout

block content
    p <내 요청>
    p - 보낸 요청
    if SentRequests.length == 0
        p 보낸 요청이 없습니다.
    else
        ul
            each SentRequest in SentRequests
                li
                    p(hidden) #{SentRequest.id}
                    p
                    |   닉네임: #{SentRequest.Receiver.nickname}
                    |   회사 이름: #{SentRequest.Company.name}
                    |   궁금한 사람: #{SentRequest.targetName}
                    |   상태: #{SentRequest.status}
                    if SentRequest.reply
                        button(type="button", onclick="getReply(this)") 답변보기
                    if SentRequest.status == '평가중'
                        button(type="button", onclick="setRating(this)") 평가하기


    p - 받은 요청
    if ReceivedRequests.length == 0
        p 받은 요청이 없습니다.
    else
        ul
            each ReceivedRequest in ReceivedRequests
                li
                    p(hidden) #{ReceivedRequest.id}
                    p
                    |   닉네임: #{ReceivedRequest.Sender.nickname}
                    |   회사 이름: #{ReceivedRequest.Company.name}
                    |   궁금한 사람: #{ReceivedRequest.targetName}
                    |   상태: #{ReceivedRequest.status}
                    if ReceivedRequest.status == '대기중'
                        button(type="button", onclick="setReply(this)") 답변하기
                        button(type="button", onclick="rejectRequest(this)") 거절하기
                    else if ReceivedRequest.status == '완료됨'
                        button(type="button", onclick="getRating(this)") 평가보기

    script.
        function getReply(that) {
            location.href = '/request/reply/get?requestId=' + that.parentNode.childNodes[0].innerText;
        }

        function setRating(that) {
            location.href = '/request/rating/set?requestId=' + that.parentNode.childNodes[0].innerText;
        }

        function setReply(that) {
            location.href = '/request/reply/set?requestId=' + that.parentNode.childNodes[0].innerText;
        }

        function rejectRequest(that) {
            location.href = '/request/reject?requestId=' + that.parentNode.childNodes[0].innerText;
        }

        function getRating(that) {
            location.href = '/request/rating/get?requestId=' + that.parentNode.childNodes[0].innerText;
        }